/***                                                  Project specific fonts */

/**     Jura */
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/**     Josefin Slab */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Jura:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*****************************************************************************/

/***                                                           Common styles */
body {
    background-color: rgba(180, 155, 44, 0.25);
    overflow-x: hidden;
}
header {
    font-family: "Josefin Slab", sans-serif;
    font-optical-sizing: auto;
    font-size: 25px;
    font-weight: bold;
}
nav {
    z-index: 10;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
footer {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    padding: 46px;
}
footer #social {
    margin-top: 28px;
    margin-bottom: 35px;
    opacity: 0.4;
}
footer #footer-header {
    font-size: 30px;
}
footer #footer-copyright {
    font-size: 15px;
}
/*****************************************************************************/

/***                                                     Hero section styles */
.hero {
    background-image: url("../images/hero_accomodations.png");
    background-size: cover;
    background-position: top -90px right 50%;
    z-index: -1;

    @media (max-width: 1200px) {
        background-position: top;
    }
}
.hero-heading {
    z-index: 0;
    padding: 125px 0px 130px;

    @media (max-width: 991px) {
        padding-top: 20px;
    }
}
.quote {
    font-family: "Josefin Slab", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    padding: 33px;

    background-color: rgba(0, 0, 0, 0.55);
}
.quote > h1 {
    font-size: 80px;
}
/*****************************************************************************/

/***                                        Accomodation grid section styles */
#accomodations-grid {
    padding-top: 100px;
    padding-bottom: 100px;
}
.card {
    background-color: #d9d9d9;
    border-radius: 35px;
    padding: 20px;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: bold !important;
    margin-bottom: 60px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);

    & .card-img-top {
        border-radius: 15px;
        max-height: 288px;
    }

    & .card-body {
        padding-top: 10px;
        padding-bottom: 0px;

        & h5 {
            font-size: 30px;
            margin-bottom: 42px;
            font-weight: bold !important;
        }

        & p {
            margin-bottom: 20px;
        }
        & p:last-child {
            margin-bottom: 0px;
        }
    }
}
.card:hover {
    transform: translate(10px, 10px);
    box-shadow: none;
}
.btn-accomodation {
    color: inherit;
}
/*****************************************************************************/

/***                                                            Modal styles */
.modal-content {
    max-width: 750px !important;
    padding: 34px;
    border-radius: 35px;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 20px;

    & .card-img-top {
        border-radius: 15px;
    }

    & h5 {
        font-size: 30px;
    }
}
.modal-body {
    padding: 0;

    & .modal-title {
        margin: 20px 0 36px;
    }

    & ul {
        list-style-type: "✔";
    }

    & .btn-modal {
        display: inline-block;
        background-color: #686931;
        color: #1e1e1e !important;
        border-radius: 15px;
        padding: 23px 130px;
        font-size: 20px;
        font-weight: bold;
    }
}
/*****************************************************************************/
