/***                                                  Project specific fonts */

/**     Jura */
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/**     Josefin Slab */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Jura:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*****************************************************************************/

/***                                                           Common styles */
body {
    background-color: rgba(180, 155, 44, 0.25);
    overflow-x: hidden;
}
header {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-size: 25px;
    font-weight: bold;
}
footer {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    padding: 46px;
}
footer #social {
    margin-top: 28px;
    margin-bottom: 35px;
    opacity: 0.4;
}
footer #footer-header {
    font-size: 30px;
}
footer #footer-copyright {
    font-size: 15px;
}
/*****************************************************************************/

/***                                                             Hero styles */
.hero {
    background-image: url("/images/Hero.png");
    background-size: cover;
    background-position: center;
    height: 816px;
    z-index: -1;
}
.hero-heading > h1 {
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-size: 85px;
}
/*****************************************************************************/

/***                                                             Jobs styles */
#jobs {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    padding: 46px 112px;
}
.job-quote {
    font-size: 43px;
    font-optical-sizing: auto;
    font-weight: normal;
    padding: 46px 65px;
    border-right: 1px solid black;
    @media (max-width: 991px) {
        border-right: none;
        border-bottom: 1px solid black !important;
    }
}
.quote-emphasis {
    color: #686931;
    font-weight: bold;
}
.job-details {
    padding: 65px;
}
.job-details > h2 {
    font-weight: bold;
    font-size: 30px;
}
#job-list {
    padding: 40px 0px;
    font-weight: bold;
}
.fancy-corners {
    --b: 10px; /* thickness of the border */
    --c: black; /* color of the border */
    --w: 50px; /* width of border */

    border: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg, var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;

    background: conic-gradient(
                from 90deg at top var(--b) left var(--b),
                var(--_g)
            )
            0 0 / var(--_p),
        conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g))
            100% 100% / var(--_p);
}
#job-list > ul {
    list-style: none;
    padding-left: 0px;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
/*****************************************************************************/

/***                                                          Offices styles */
#offices {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    background-color: #000;
    color: white;
}
.offices-bg {
    padding-top: 120px;
    background-image: url("/images/kombi.png");
    min-height: 515px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.offices-text {
    font-size: 30px;
}
.btn-offices {
    border: 3px solid white;
    border-radius: 35px;
    color: white;
    padding: 18px 85px;
    font-size: 25px;
}
/*****************************************************************************/
